$cor1: #54534F;
$cor2: #67BE9B;
$cor3: #FFCE8A;
$white: #ffffff;

hr {
	border-color: $cor2;
}

.label-success {
	background-color: $cor2;

}

.label-default {
	background-color: lighten($cor1, 40%);
}

@mixin titleFont {
	font-family: 'Six Caps', sans-serif;

}

@mixin bodyFont {
	font-family:  'Merriweather', sans-serif;
}


img {
	max-width: 100%;
}



::-webkit-input-placeholder {color: $white;}
::-moz-placeholder {color: $white;}
:-ms-input-placeholder {color: $white;}
:-moz-placeholder {color: $white;}



/* 
* Mixins
*/

@mixin round($radius) {
    -moz-border-radius: $radius;    // firefox
    -webkit-border-radius: $radius; // safari/chrome
    border-radius: $radius;         // CSS3, works in IE9
}



@mixin transition( $val : ease 0.8s ) {
  -webkit-transition: $val;
  -moz-transition:$val;
  -o-transition:$val;
  -ms-transition:$val;
  transition:$val;
}

.rotated {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    @include transition();
}