@import '_partial/header'
@import '_partial/article'
@import '_partial/comment'
@import '_partial/index'
@import '_partial/archive'
@import '_partial/sidebar'
@import '_partial/footer'
@import '_partial/syntax'


@import 'mixins'
@import 'glyphicons'

#content
	#main-col
		padding 20px 0
		overflow hidden
		background-color #f5f5f5
	.sidebar
		padding 20px 0
		background-color #333
		text-align center

a
	color #000